<!DOCTYPE html>
<html>
<head>
    <title>Listado de Cursos</title>
</head>
<body>
    <h1>Listado de Cursos</h1>
    <table border="1">
        <tr>
            <th>ID</th>
            <th>Nombre del Curso</th>
            <th>Id Estudiantes Inscritos</th>
        </tr>
        {% for curso in cursos %}
            <tr>
                <td>{{ curso.Id }}</td>
                <td>{{ curso.nombre_curso }}</td>
                <td>{{ curso.id_estudiante }}</td>
            </tr>
        {% endfor %}
    </table>
</body>
</html>
